
<div class="container">
  <div class="row">
      <div class="col-sm-1">
          
      </div>
     
      <div class="col-sm-10">
        
          <div *ngIf="jugadores; else elseBlock">
            <div class="row itemsBlock">
              <div class="col-md-4 col-sm-6 col-12" *ngFor="let p of jugadores">
                 
                <div class="card border-primary mb-3" >
                  
                  <img class="card-img-top" src={{p.imagen}} height="200" width="200" >
                  <div class="card-body">
                    <h5 class="card-title">Equipo: {{p.equipo}}</h5>
                    <p class="card-text">Nombre: {{p.nombre}}</p>
                    <p class="card-text">Apellido: {{p.apellido}}</p>
                    <p class="card-text">Edad: {{p.edad}}</p>
                    <p class="card-text">Equipo: {{p.equipo}}</p>
                    <p class="card-text">Alias: {{p.alias}}</p>
                  
                  </div>
                </div>
            </div>
            </div>
             
          </div>
          
          <ng-template #elseBlock>
              <div class ="card">
                  <div class ="card-body">
                  <h5 class="card-title"> No hay Jugadores</h5>
                  </div>
              </div>
          </ng-template>  
      </div>
    </div> 
      <div class="col-sm-1">

      </div>

 
</div>


